* {
	// Set all elements to use the border-box sizing model
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

html {
	-ms-text-size-adjust: 100%; // 2
	-webkit-text-size-adjust: 100%; // 2
}

body {
	margin: 0;
}

// HTML5 display definitions

// Correct `block` display not defined for any HTML5 element in IE 8/9.
// Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
// Correct `block` display not defined for `main` in IE 11.

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.

audio, canvas, progress, video {
	display: inline-block; // 1
	vertical-align: baseline; // 2
}

// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.

audio:not([controls]) {
	display: none;
	height: 0;
}

// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.

[hidden],
template {
	display: none;
}

// Embedded content ==========================================================================

// Remove border when inside `a` element in IE 8/9/10.
img {
	border: 0;
}

// Correct overflow not hidden in IE 9/10/11.
svg:not(:root) {
	overflow: hidden;
}

// Grouping content ==========================================================================

// Address margin not present in IE 8/9 and Safari.
figure {
	background: $lightgrey;
	padding: $padding/2;
	margin: 0;
	max-width: 100%;
	figcaption {
		color: $midgrey;
		font-size: 0.9em;
		font-style: italic;
	}
}

// Address differences between Firefox and other browsers.
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

// Tables =====================================================================================

// Remove most spacing between table cells.
table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid;
	table-layout: fixed;
}

td,
th {
	padding: 0.25rem $padding/2;
	border: 1px solid $quartergrey;
}
th {
	text-transform: uppercase;
	font-size: 0.9em;
	background: $lightgrey;
}
